<!doctype html>
<html ng-app="calculatorApp">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="node_modules/material-components-web/dist/material-components-web.css">
</head>
<body>
<!--<div class="colorPannel">-->
<!--<p>Change color calculator</p>-->
<!--<span ng-repeat="n in colors" class="colorPannelCircle" ng-style="styleColor={'background-color': n.color}" ng-click="color()"></span>-->
<!--</div>-->


<div class="mdc-card allCalc" >
    <innercalc></innercalc>
</div>

<script src="node_modules/material-components-web/dist/material-components-web.js"></script>
<script>mdc.autoInit()</script>
<!-- Angular Material requires Angular.js Libraries -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
<script src="js/main.js"></script>
<script src="js/calculator.js"></script>
</body>
</html>