<!doctype html>
<html ng-app="calculatorApp">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/main.css">
</head>
<body ng-controller="numberController">
<div class="colorPannel">
    <p>Change color calculator</p>
    <span ng-repeat="n in colors" class="colorPannelCircle" ng-style="styleColor={'background-color': n.color}" ng-click="color()"></span>
</div>

<div class="allCalc" ng-style="changeColor" id="calc">
    <div class="row" id="result">
        <form name="calc">
            <label for="result"></label>
            <!--<input type="number" class="screen text-right" ng-model="output" name="result">-->
            <p class="screen text-right">{{output}}</p>
        </form>
    </div>
    <div class="">
        <button type="button" class="btn btn-danger allClear" ng-click="clear()">AC</button>
        <!--<button type="button" class="btn btn-warning clearCalc">CE</button>-->
        <button type="button" class="btn">%</button>
        <button type="button" class="btn">÷</button>
        <button type="button" class="btn" ng-click="mul()">x</button>
    </div>
    <div class="listNumWidth">
        <div class="listNum" ng-repeat="item in items">
            <button type="button" class="btn" ng-click="numberOutput(item.number)" ng-style="changeColorButton">
                {{item.number}}
            </button>
        </div>
    </div>
    <div class="listOper">
        <button type="button" class="btn " ng-click="minus()">-</button>
        <button type="button" class="btn " ng-click="sum()">+</button>
        <!--<button type="button" class="btn ">.</button>-->
        <button type="button" class="btn equalsCalc" ng-click="result()">=</button>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="public/main.js"></script>
</body>
</html>